{% extends '_base.html' %}
{% load bootstrap %}
{% block content %}
<div class="container w-50 p-3">
    <h1 class="text-center">Login </h1>
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Username</label>
            <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Senha</label>
            <input type="password"name="password" class="form-control" id="exampleInputPassword1">
        </div>

        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
    {% if error %}
    <div class="container p-3">

        <div class="alert alert-danger" role="alert">
            {{error}}
        </div>
    </div>
    {%endif%}
    <small>
        Não tem conta? 
        <a href="{% url 'users:create-user' %}">

            Faça seu cadastro
        </a> 
    </small>
</div>
{% endblock %}